<div class="modal">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">New Contact</h1>
    <button class="button button-clear button-positive" ng-click="cancelContact()">Cancel</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>

    <form ng-submit="saveContact(contact)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="contact.name" required>
        </label>
        <label>
          <input type="number" placeholder="Age" ng-model="contact.age" min="0" max="150" required>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Contact</button>
      </div>
    </form>

  </ion-content>

</div>